---
site_title: Voicester
---

<!doctype html>
<html lang="en">
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ site_title }}</title>
    </head>
    <body>
        <h1>{{ site_title }}</h1>
        <hr />
        {{ content | safe }}
        <hr />
        <small>
            <a href="https://headingley.org">Headingley</a>
        </small>

    </body>
</html>