---
layout: blog
pagination:
    data: collections.post
    size: 4
    alias: posts
---

<div class="flex">
	<div class="w-20 h-auto mr-5 bg-yellow-300 text-dir">
		<div class="mt-8 text-6xl tracking-widest transform rotate-90">
			Blog
		</div>
	</div>
	<table class="my-8 table-auto mt-15">
		<tbody>
			{% for post in posts | reverse %}
			<a href="{{ post.url | url }}">
				<tr class="mb-10">
					<td class="font-bold text-gray-900 text-l">
						{% if post.data.title %} {{ post.data.title }} {% else
						%} Untitled {% endif %}
					</td>
					<td class="pl-4 text-base leading-6 text-gray-500">
						<time>
							{{ post.date | readableDate }}
						</time>
					</td>
				</tr>
			</a>

			{% endfor %}
		</tbody>
	</table>
</div>
<div id="pagination">
	{% if pagination.href.previous %}
	<a href="{{pagination.href.previous}}">Previous</a>
	{% endif %} {% if pagination.href.next %}
	<a href="{{pagination.href.next}}">Next</a>
	{%endif%}
</div>
