@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

@layer base {
	a {
		background-image: linear-gradient(to top, orange, yellow, transparent);
		background-position: 0 110%;
		background-repeat: no-repeat;
		background-size: auto 0.5rem;
	}

	a:hover {
		@apply bg-yellow-200;
	}

	.active {
		@apply text-4xl;
	}

	h1 {
		@apply mb-3 text-3xl font-bold tracking-tighter text-center;
	}

	h3 {
		@apply my-3 text-2xl font-bold;
	}

	.my-pill {
		@apply inline-block px-3 py-1 mr-2 bg-blue-200 rounded-full;
	}

	.my-pill:hover {
		@apply bg-blue-400;
	}

	/* Styling for Netlify editor options */
	p {
		@apply mt-2;
	}

	code {
		@apply ml-4 bg-gray-200;
	}

	pre {
		@apply mt-2 ml-4 bg-gray-200;
	}

	blockquote p {
		@apply ml-4;
	}

	blockquote p::before {
		content: '"';
	}

	blockquote p::after {
		content: '"';
	}

	ul {
		@apply mt-2 list-outside;
	}

	ol {
		@apply mt-2 ml-4 list-outside;
	}

	ol li {
		@apply pl-4;
	}

	/* Syntax Highlighting*/

	body :not(pre) > code[class*='language-'],
	body pre[class*='language-'] {
		@apply bg-gray-800;
	}

	.menu-color {
		background: #f2f0ee;
	}
}
