---
layout: blog
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tagmenu-tags/{{ tag }}/
---


<div class="flex">
<div class="w-20 mr-5 bg-yellow-300 text-dir">
		<div class="mt-8 text-6xl tracking-widest transform rotate-90">
			{{tag}}
		</div>
	</div>
<table class="w-full mt-4">
		<tbody>
    {% set pageTags = collections[ tag ] %}
			{% for post in pageTags | reverse %}

			<tr>
				<td class="pb-2 font-bold text-gray-900 text-l">
					<a href="{{ post.url | url }}">
						{% if post.data.title %} {{ post.data.title }} {% else
						%} Untitled {% endif %}
					</a>
				</td>
				<td
					class="pb-2 pl-4 text-base leading-6 text-right text-gray-500"
				>
					<time>
						{{ post.date | readableDate }}
					</time>
				</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
	</div>
 