---
layout: blog
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---



<div class="flex flex-col md:flex-row">
	<div class="w-full h-auto mr-5 bg-yellow-300 md:w-20 text-dir">
		<div
			class="text-3xl tracking-widest text-center transform md:mt-8 md:text-6xl md:rotate-90"
		>
			{{tag}}
		</div>
	</div>
<table class="w-full mt-4">
		<tbody>
    {% set taglist = collections[ tag ] %}
			{% for post in taglist | reverse %}

			<tr>
				<td class="pb-2 font-bold text-gray-900 text-l">
					<a href="{{ post.url | url }}">
						{% if post.data.title %} {{ post.data.title }} {% else
						%} Untitled {% endif %}
					</a>
				</td>
				<td
					class="pb-2 pl-4 text-base leading-6 text-right text-gray-500"
				>
					<time>
						{{ post.date | readableDate }}
					</time>
				</td>
			</tr>

			{% endfor %}
		</tbody>
	</table>
	</div>
 